<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128169344051-2onq20ui246e8t8nk9217brdtlrma1v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128169344051-2onq20ui246e8t8nk9217brdtlrma1v5</string>
	<key>API_KEY</key>
	<string>AIzaSyCutrpoSO0pY1CRg39XWRFP9bZb8sbhqvg</string>
	<key>GCM_SENDER_ID</key>
	<string>128169344051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icyberelf.elf</string>
	<key>PROJECT_ID</key>
	<string>soulmateelf</string>
	<key>STORAGE_BUCKET</key>
	<string>soulmateelf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128169344051:ios:47b20ae894d2a18dab3746</string>
</dict>
</plist>